.div-general {
    width: 100%;
    margin: auto;
    border-radius: 0px;
    height: auto;
    background-color: #fffdd0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 19px;
    margin: 30px 0;
    font-family: cursive;
}

.text {
    text-align: center;
    margin: 0 40px 40px;
    line-height: 28px;
    font-family: cursive;
}



.class-img {
    width: 300px;
    height: 305px;
    border-radius: 30px;
    object-fit: cover;
    margin-bottom: 40px;

}

.instagram {
    font-size: 36px;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    color: aliceblue;
    border-radius: 4px;
    padding: 2px;
    margin-bottom: 20px;
}