.div-general {
    min-height: 60vh;
    width: 100%;
    background-color: #fffef3;
    margin-top: 30%;
    margin-bottom: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.primero {
    margin-top: 40px;
    font-size: 1.2em;
    color: #c5d439;
    font-weight: 500;

}

.div-box {
    display: flex;
    align-items: center;
    gap: 5px;
}

.left-line {
    width: 80px;
    background-color: #c5d439;
    height: 2px;
    border-radius: 20px;
}

.right-line {
    width: 80px;
    background-color: #c5d439;
    height: 2px;
    border-radius: 20px;
}

.box-text {
    font-size: 21px;
    color: #948e6b;
}

.tercero {
    font-size: 17px;
    width: 90%;
    color: #c5d439;
    font-weight: 500;
    margin-bottom: 40px;
}

.div-text {
    width: 90%;
    margin: 0;
    margin-bottom: 43px;
}

.cuarto {
    font-size: 17px;
    width: 100%;
    font-weight: 500;
    color: #948e6b;
}

.quinto {
    font-size: 17px;
    width: 77%;
    color: #c5d439;
    margin-bottom: 30px;
    font-weight: 500;
}

.sexto {
    font-size: 17px;
    width: 77%;
    color: #c5d439;
    font-weight: 500;
}

.corner-div {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    position: relative;
    top: 1em;
}

.corner1,
.corner2 {
    height: 150px;
    width: 55vw;
}

.corner2 {
    transform: rotateY(180deg);
}

@media (min-width: 500px) and (max-width: 1299px) {
    .div-general {
        width: 81%;
        min-height: auto;
        margin: auto;
        margin-top: 28%;
        margin-bottom: 29%;
        border-radius: 20px;
    }
}


@media (min-width: 1300px) {
    .div-general {
        width: 40%;
        margin: auto;
        margin-top: 10%;
        margin-bottom: 13%;
        border-radius: 20px;
        /* height: 68vh; */
        min-height: 68vh;
    }

    .corner-div {
        top: -0.2em;
        width: 100%;

    }

    .corner1,
    .corner2 {
        width: 10vw;
    }

    .primero {
        font-size: 1.2em;
    }

    .box-text {
        font-size: 1.3em;
    }

    .left-line {
        width: 200px;
    }

    .right-line {
        width: 200px;
    }

    .tercero {
        font-size: 1.2em;
    }

    .cuarto {
        font-size: 1.2em;
    }

    .quinto {
        font-size: 1.2em;
    }

    .sexto {
        font-size: 1.3em;
    }
}