.div-general {
    display: flex;
    flex-direction: row-reverse;
    /* Imagen a la derecha */
    align-items: center;
    background-color: #fffdf2;
    padding: 18px;
    gap: 18px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.07);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
     margin-bottom: 55px;
}

.div-general:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.14);
}

.div-text-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* más natural */
    text-align: left;
    flex: 1;
    gap: 8px;
}

/* --- Tablet --- */
@media (min-width: 700px) {
    .div-general {
        margin-bottom: 40px;
    }
}

/* --- Desktop grande --- */
@media (min-width: 1600px) {
    .div-general {
        border-radius: 18px;

        padding: 24px;
        gap: 22px;
        width: 100%;
        margin: auto;
    }
}