.div-contenedor {
    background-color: #fffdd0;
    position: relative;
    height: 650px;
    margin-bottom: 280px;

    /* OPCION 2 */
    /* width: 98%;
    margin: auto;
    border-radius: 20px; */
}

.pincelada-title {
    position: absolute;
    top: -58px;
    left: 38%;
    transform: scale(1.4, 0.7);
    z-index: 0;
    width: 24%;
}

.div-contenedor p {
    margin: auto;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #fff;
    top: 69px;
    font-size: 19px;
    font-weight: bold;
    width: 20%;
}

.div-general {
    margin: auto;
    max-width: 100%;
}


.slide-inner {
    margin: 0 39px;
    box-sizing: border-box;
}

.div-img {
  transition: transform 0.3s ease-in-out;
  margin-top: 70%;
}

.div-img:hover {
  transform: translateY(-16px);
}

.carousel-img {
    margin: 0;
    width: 200px;
    height: 320px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.carousel-img:hover {
    filter: brightness(80%);
}