/*
  verde pistacho: #c5d439
  naranja: #f29821
  gris color logo: #948e6b
  crema: #fffdd0
*/

.div-height {
  height: 100vh;
}

/* LOGO */

.div-logo {
  text-align: center;
  margin-top: 27px;
  position: relative;
  margin-bottom: 60px;
  overflow: hidden;

}

.logo-principal {
  width: 90px;
  position: relative;
  z-index: 1;

}

.div-lazos {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 0;
  transform: translateY(-80%);
}

.lazoNaranja {
  width: 260px;
  margin-left: -95px;
  max-width: 90vw;

}

.lazoVerde {
  width: 260px;
  transform: rotate(180deg);
  max-width: 90vw;
}

/* titulo */

.div-textos {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.titulo-principal {
  color: #948e6b;
  text-shadow:
    1px 0 0 #FDFDFB,
    -1px 0 0 #FDFDFB,
    0 2px 0 #FDFDFB,
    0 -1px 0 #FDFDFB;
  font-size: 55px;
  font-weight: bold;
  text-align: center;

}

/* texto principal */

.texto-principal {
  font-size: 20px;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  color: #FDFDFB;
  margin-top: 67px;
  margin-bottom: 199px;
}

.texto-secundario {
  font-size: 20px;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  color: #FDFDFB;
}

.enlace-wsp {
  margin: 0 auto;
  margin-top: -8px;
}

.icono-wsp {
  font-size: 44px;
  color: #14990A;
  margin-bottom: 400px;
}

.div-dulce-title {
  position: relative;
  margin-top: 20px;
   margin-bottom: 45px;

}

.dulces-img {
  display: block;
  width: 173px;
  margin: auto;
}

.dulces-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  pointer-events: none;
 
}


/* efecto fade */
.fadeIn {
  opacity: 0;
  animation: fadeInAnim 2s ease forwards;
}

@keyframes fadeInAnim {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media (min-width: 700px) {
  .card-desktop {
    background-color: #E1DEAE;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin: 0 auto;
    width: 70%;
    border-radius: 20px;
    padding: 29px;
    margin-bottom: 500px;
  }

  .texto-principal {
    margin-bottom: 200px;
    line-height: 2.3;
    font-size: 18px;
  }

  .titulo-principal {
    font-size: 80px;
    color: #aba47d;
  }


  .icono-wsp {
    font-size: 44px;
    transition: transform 0.3s ease, color 0.3s ease;
  }

  .icono-wsp:hover {
    transform: scale(1.4);
    color: #17b10c;
  }
}